/* wordle_styles.css */

  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
 


body {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
    background-color: #fafafa;
    font-family: Arial, sans-serif;
}

#game-container {
    display: flex;
    
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: white;
}

#word-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* assuming 5-letter words */
    gap: 10px;
    margin-bottom: 20px;
}

#guess-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #0056b3;
}

