/* wordle_styles.css */

  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; /* adjust as needed */
}
 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    height: 100vh; /* Change this */
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* adjust as needed */
  flex-direction: column;
}

#game-container {
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: white;
}

#game-img {
  max-width: 100%; /* This will ensure that the image doesn't overflow its container */
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#guess-result {
  display: box;
  /* align-items: center; */
  /* text-align: center; */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
  background-color: white;
}

#word-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* assuming 5-letter words */
    gap: 10px;
    margin-bottom: 20px;
}

#guess-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.empty-box {
  width: 20px;
  height: 32px;
  margin-right: 2px;
  border: 1px solid black;
  text-align: center;
}

.guess-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.guess-box {
  width: 20px;
  height: 32px;
  margin-right: 2px;
  text-align: center;
  border: 1px solid black;
}

.correct-letter {
  background-color: green;
}

.wrong-letter {
  background-color: grey;
}

.right-letter {
  background-color: yellow;
}

#submit-button {
    margin-top: 20px; /* adjust this value as needed */
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #0056b3;
}

